.new-event-button {
  background-color: #6c757c;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.edit-button {
  background-color: #116ef9;
}

.delete-button {
  background-color: #dc3744;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 75%;
}

th {
  font-weight: bold;
  border: 1px solid black;
}

tr:nth-child(odd) {
  background-color: lightgrey;
  color: black;
}

tr:nth-child(even) {
  background-color: white;
}

td {
  border: 1px solid black;
}
